@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import "~styles/utils";

div.agenda-home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1em;

  p.agenda-home-title {
    font-size: 1.6em;
    font-weight: 500;
  }
}

svg{
  display: block;
  width: 35%;
  margin: 15px;

  @media screen and (max-width: 700px) {
    width: 70%;
  }
}
#coder{
  animation: dash 5s linear forwards;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
}
@keyframes dash {
  to {
    stroke-dashoffset: 10;
  }
}
#colors{
  opacity: 0;
  animation: colorIn 2s 4s ease-out forwards;
}
@keyframes colorIn {
  from {opacity:0;}
  to {opacity: 1;}
}