@import "~styles/utils";

div.carnet-adresse-content {
  padding: 30px;
}

.tr-entete {
  background-color: #ffffff;
  color: #D31027;
  font-size: 1.3em;
  font-weight: 700;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .15);
  border-radius: 5px 5px 0px 0px;
}

.tr-tableau {
  border: thin solid #e5e5e5;
}

.td-tableau {
  border: thin solid #6495ed;
}