@import "~styles/utils";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

div.header-component-responsive {
  position: fixed;
  //background-image:url("http://davidvelten.fr/cname/preprod-intranet-idrac/material-banner.jpg");
  background-color: rgba(55, 58, 71, 0.9);
  width: 100%;
  height: 100%;
  left: 100%;
  top: 0;
  transition: left .5s;
  display: flex;
  flex-direction: column;
  z-index: 290;
  text-align: center;
  justify-content: center;

  &.active {
    left: 0;
  }

  .menu-burger-title{
    font-size: 3em;
    color: #c94e50;
    border-bottom: solid 1px #c94e50;
    margin-bottom: 10px;
    text-align: center;
  }

  .menu-burger-item {
    margin: 15px 0px;
    color: #b8b7ad;
    font-size: 2em;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 500;
    opacity: .9;

    &:hover {
      color: #e5e5e5;
    }
  }
}

div.header-component-content {
  background-color: #fff;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  padding: 0px 15px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, .25);
  align-items: center;
  justify-content: space-between;
  font-family: Montserrat;
  margin: 0;
  height: 70px;
  z-index: 300;
  position: relative;

  @media screen and (max-width: 700px) {
    height: 65px;
  }

  .header-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-size: 18px;

    @media screen and (max-width: 700px) {
      display: none;
    }

    .header-item {
      margin: 10px;
      padding-left: 20px;
      padding-right: 20px;
      text-decoration: none;
      color: #0f2027;
      padding-bottom: 10px;
      transition: color .5s;

      &:hover {
        color: #D31027;
      }

      &.active{
        color: #D31027;
        border-bottom: 3px solid #D31027;
      }
    }
  }

  .header-out-website {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    font-size: 14px;

    @media screen and (max-width: 700px) {
      display: none;
    }

    .header-item-outlook {
      margin: 10px;
      text-decoration: none;
      color: #6d6d6d;
    }
  }

  img.logo-idrac {
    height: 110px;
    @media screen and (max-width: 700px) {
      height: 90px;
    }
  }

  img.github-logo {
    height: 35px;
    margin-right: 15px;
    opacity: .5;
    transition: opacity .5s;

    &:hover {
      opacity: 1;
    }
  }
  
  .outBox {
    color: #6d6d6d;
  }

  .link-sidebar {
    text-decoration: none;
  }

  .menu-mobile {
    display: none;
    cursor: pointer;

    @media screen and (max-width: 700px) {
      display: inline;
    }
  }
}