@import "~styles/utils";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');


div.header-component {
  background-color: #fff;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  padding: 0px 15px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, .25);
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 70px;
  z-index: 35;

  .header-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-size: 18px;

    @media screen and (max-width: 700px) {
      display: none;
    }

    .header-item {
      margin: 10px;
      padding-left: 20px;
      padding-right: 20px;
      text-decoration: none;
      color: #0f2027;
      padding-bottom: 10px;
      transition: color .5s;

      &:hover {
        color: #D31027;
      }

      &.active{
        color: #D31027;
        border-bottom: 3px solid #D31027;
      }
    }
  }

  .header-out-website {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    font-size: 14px;

    @media screen and (max-width: 700px) {
      display: none;
    }

    .header-item {
      margin: 10px;
      text-decoration: none;
      color: #6d6d6d;
    }
  }

  img.logo-idrac {
    height: 110px;
  }

  img.github-logo {
    height: 35px;
    margin-right: 15px;
    opacity: .5;
    transition: opacity .5s;

    &:hover {
      opacity: 1;
    }
  }
  
  .outBox {
    color: #6d6d6d;
  }
}

.link-sidebar {
  text-decoration: none;
}

.menu-mobile {
  display: none;

  @media screen and (max-width: 700px) {
    display: inline;
  }
}