@import "~styles/utils";

div.liens-utiles-content {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.browser-mockup > * {
  display: block;
}

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0;
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 700px) {
   height: 150px;
   width: 250px;
  }

}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}
.browser-mockup.with-url:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: white;
}

img.img-browser {
  width: 300px;
  @media screen and (max-width: 700px) {
    width: 175px;
  }
}

div.credit-usetool {
  margin-top: 25px;

  @media screen and (max-width: 700px) {
    font-size: .8em;
  }

  a {
  text-decoration: none;
  color: #0f2027;
  font-style: italic;
  }
}

p.baseline {
  margin-top: 35px;
  font-weight: 700;
  color: #D31027;
  font-size: 1.5em;
  @media screen and (max-width: 700px) {
    font-size: .7em;
    margin-top: 15px;
  }
}

p.description {
  margin-top: 0px;
  font-size: .8em;
  padding: 5px;
  text-align: center;
  @media screen and (max-width: 700px) {
    font-size: .55em;
  }
}

div.avatars {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;

  img.avatars-usetools {
    height: 100px;
    margin: 15px 15px;
    transition: opacity .4s;

    &:hover {
      opacity: .7;
      cursor: pointer;
    }
  }
}
